@{
    ViewBag.Title = "Job_Home";
    Layout = "~/Views/Shared/_LayoutResume.cshtml";
}
 @section tabs{
     <div id="topimagePan"><img src="~/Images/blank.gif" alt="" /></div>
	<ul>
		<li><a href="/Job/Home">Home</a></li>
		<li><a href="/Home/AboutUs">About Us</a></li>
        <li><a href="/Job/Home">Job Area</a></li>
        <li><a href="/Home/ContactUs">Contact Us</a></li>
        <li><a href="/Account/Logout">Logout</a></li>
       
  </ul>
 }  
@section ResumeManagement{
   <div id="rightform3Pan">
	        <h2>Categories</h2>
          <ul>
           	<li><a href="/User/Admin_Jobs">Admin</a></li>
		    <li><a href="/User/Marketing_Jobs">Marketing</a></li>
		    <li><a href="/User/IT_Jobs">IT</a></li>
		    <li><a href="/User/HR_Jobs">HR</a></li>
            <li><a href="/User/Accounting_Jobs">Accounting</a></li>
	</ul>

	</div>
}  
@section TopJobs{
    <div id="rightform4Pan">
	    <h2>Top 5 jobs</h2> </div>
	<ul>
		<marquee direction="down">
		<li><a href="/Home/TopJobs">Web Developer</a></li>
		<li><a href="/Home/TopJobs">Web Content Writer</a></li>
		<li><a href="/Home/TopJobs">SEO Expert </a></li>
		<li><a href="/Home/TopJobs">Network Administrator </a></li>
		<li><a href="/Home/TopJobs">HR Manager </a></li>
            </marquee>
	</ul>
	
}  
  <div id="leftPan">
     <br />
      <br />
      <br />
      
  	  <a href="/Job/AddJob"><h2>Add<span> Job</span></h2><br /></a>
      <a href="/Job/EditJob1"><h2>Edit<span> Job</span></h2><br /></a>
      <a href="/Job/DeleteJob"><h2>Delete<span> Job</span></h2><br /></a>
     <a href="/Job/SeekEmployees"><h2>Seek<span>Employees</span></h2><br /></a>
	
   
    <div id="leftblocktwoPan">   
  </div>
  </div>
  
@section Footer{
    <div id="footerPan">
	<ul>
		<li><a href="/Home/Index">Home </a>| </li>
		<li><a href="/Home/AboutUs">About Us</a>| </li>
		<li><a href="/Job/Home">Job Area</a>| </li>
		<li><a href="/Home/ContactUs">Contact Us</a>| </li>
		<li><a href="/Home/Index">Logout</a></li>
		</ul>
		<p class="copyright">©Opportunity. all right reserved.</p>
    </div>
}